/*
* @Author: TomChen
* @Date:   2018-11-15 20:47:21
* @Last Modified by:   TomChen
* @Last Modified time: 2018-11-15 20:47:50
*/
*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
	height: 0px;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
.head{
	width: 1583px;
	background: #323232;
}
.head1{
	width: 1226px;
	height: 40px;
	background: #323232;
	margin: 0 auto;
}
.head1-left{
	width: 580px;
	height: 40px;
	float: left;
	/*position: relative;*/
	left: 70px;
}
.head1-left>a{
	text-decoration: none;
	font-size: 12px;
	line-height: 40px;
	color: #b0b1b0;
}
.head1-left>span{
	font-size: 12px;
	color: #b0b1b0;
	margin-left: 8px;
}
.gwbox{
	position: absolute;
	top: 40;
	right: 0;
	width: 300px;
	height: 0px;
	background: white;
	text-align: center;
	z-index: 999;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
	overflow: hidden;
}
.gwbox .s1{
	line-height: 90px;
	font-size: 13px;
}
.head1-right{
	width: 275px;
	height: 40px;
	float: right;
	position: relative;
}
.head1-right>a{
	font-size: 12px;
	color: #b0b1b0;
	text-decoration: none;
	line-height: 40px;
}
.head1-right>span{
	font-size: 12px;
	color: #b0b1b0;
	margin-left: 8px;
}
.head1-right-box{
	width: 121px;
	height: 40px;
	background: #424242;
	position: relative;
	float: right;
}
.head1-right-box a{
	display: inline-block;
	width: 100%;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: white;
}
.head1-right-box i{
	color: #8f8f8f;
}
.icont-cart{
	font-size: 20px;
	vertical-align: -2px;
}
.head1-left a:hover{
	color: white;
}
.head1-right a:hover{
	color: white;
}
#box1{
	position: absolute;
	top: 40px;
	right: 0px;
	background: red;
	width: 120px;
	height: 40px;
}
#box11{
	position: absolute;
	top: 40px;
	right: 0px;
	background: #fff;
	width: 300px;
	height: 0px;
	text-align: center;
	z-index: 999;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
	overflow: hidden;
}
#s1{
	margin-top: 40px;
	font-size: 13px;
	font-weight: 400;
	display: none;
}
.loader{
	position: relative;
	width: 4px;
	height: 20px;
	background: #ff6700;
	margin: 0 auto;
	animation: loading 0.3s linear 0s infinite alternate;
	margin-top: 50px;
	display: block;
}
.loader:after,.loader:before{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	width: 4px;
	height: 20px;
	background: #ff6700;
}
.loader:after{
	margin-left: 10px;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0.3s infinite alternate;
}
.loader:before{
	margin-left: -10px;
	transform: scale(1,0.5);
	animation: loading 0.3s linear 0.5s infinite alternate;			
}
@keyframes loading{
	from{
		opacity: 0.5;
		transform: scale(1,0.5);
	}
	to{
		opacity: 1;
		transform: scale(1,1);
	}
}


.head2{
	width: 1226px;
	height: 50px;
	margin: 20px auto;
	box-sizing: border-box;
	position: relative;
}
.head2-left-box{
	width: 50px;
	height: 50px;
	background:#ff6700;
	font-size: 20px;
	float: left;
	margin-right: 50px;
}
.head2-left-box img{
	z-index: 999;
}
.head2-center a:nth-child(1){
	display: inline-block;
	width: 100px;
	height: 100px;
	text-align: center;
}
.head2-center a{
	text-decoration: none;
	color: black;
	font-size: 15px;
	margin-left: 17px;
	line-height: 50px;
}
.head2-center a:hover{
	color: #ff6700;
}
.head2-right{
	width: 296px;
	height: 50px;
	float: right;
	position: relative;
}
.head2-right input{
	border: 1px solid #7f7f7f;
	box-sizing: border-box;
}
.head2-right .i1{
	width: 245px;
	height: 45px;
}
.head2-right .s1{
	font-size: 5px;
	background: #eeeeee;
	padding:0 5px;
	position: relative;
	top: 0;
	right: 125px;
	cursor: pointer;
}
.head2-right .s2{
	font-size: 5px;
	background: #eeeeee;
	padding:0 5px;
	position: relative;
	top: -34px;
	right: -171px;
	cursor: pointer;
}
.head2-right .box{
	width: 48px;
	height: 45px;
	float: right;
	position: relative;
	top: -45px;
	right: 4px;
	border: 1px solid #7f7f7f;
	box-sizing: border-box;
	padding: 5px 0px 0px 6px;
}
.head2-right div i{
	width: 48px;
	height: 45px;
	font-size: 30px;
	cursor: pointer;
	color: #919191;
}
.head2-right .box:hover{
	background: #ff6700;
}
.head2-right .box:hover i{
	color: white;
}
.head2-right input:hover{
	border: 1px solid #ff6700;
}
.head2-right input:hover ~ .box{
	border: 1px solid #ff6700;
}
.head2-right span:hover{
	background: #ff6700;
}


.head2-right .b1{
	width: 310px;
	height: 90px;
	background: white;
	text-align: center;
	line-height: 90px;
	position: absolute;
	top: -20px;
	right: 0px;
	display: none;
}
.head2-right .b1 span{
	font-size: 12px;
}






.head2-bottom{
	width: 243px;
	position: absolute;
	right: 51px;
	top: 44px;
	display: none;
	border: 1px solid #ff6700;
	background: white;
	z-index: 999;
}
.head2-bottom ul li{
	height: 30px;
	line-height: 30px;
}
.head2-bottom ul li .s1{
	float: left;
	color: black;
	margin-left: 14px;
}
.head2-bottom ul li .s2{
	float: right;
	color: #b0b0b0;
	margin-right: 14px;
}
.head2-right .i1:focus ~ .head2-bottom{
	display: block;
}
.header-nav-content{
	width: 1583px;
	height: 0px;
	background: #fff;
	position: absolute;
	top: 70px;
	left: -180px;
	z-index: 2000;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	/*border-top: 1px solid #ccc;*/
	overflow: hidden;
}
.container{
	width:1226px;
	/*height: 0px;*/
	margin: 0 auto;
	background: white;
}
.header-nav-content li{
	width: 200px;
	height: 100%;
	float: left;
	text-align: center;
	position: relative;
}
.header-nav-content li .img-box{
	margin-top: 30px;
	width: 100%;
	height: 100px;
	border-right: 1px solid #ccc;
}
.header-nav-content li .img-box img{
	width: 150px;
	height: 100%;
}
.header-nav-content .procude-name{
	font-size: 12px;
}
.header-nav-content .procude-price{
	font-size: 12px;
	color: #ff6700;
}
.header-nav-content .tag{
	position: absolute;
	top: -1px;
	left: 50%;
	margin-left: -30px;
	width: 60px;
	height: 20px;
	border: 1px solid #ff6700;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}
.header-nav-content .loader{
	margin-top: 40px;
}




.bigphone{
	width: 1583px;
	height: 620px;
	position: relative;
}
.leftArrow,.rightArrow{
	position: absolute;
	top:50%;
	width: 40px;
	height: 70px;
	line-height: 70px;
	margin-top: -40px;
/*	background-color: rgba(0,0,0,0.6);*/
	text-align: center;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}
.rightArrow:hover{
	background-color: rgba(0,0,0,0.6);
}
.leftArrow:hover{
	background-color: rgba(0,0,0,0.6);
}
.leftArrow{
	left: 234px;
}
.rightArrow{
	right:220px;
}
.bottomBtn{
	position: absolute;
	right:800px;
	bottom: 10px;
}
.bottomBtn li{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(65,102,225,0.6);
	margin-right: 5px;
	cursor: pointer;
	border: 2px solid gray;
}



.bottomBtn li.active{
	background-color: rgba(176,224,230);
}
.content1-left{
	position: absolute;
	top: 0;
	left: 177px;
	width: 234px;
	height: 72%;
	box-sizing: border-box;
	padding: 20px 0;
	z-index: 99999;
	background: white;
	border: 1px solid #ff6700;
	display: none;
}

.content1-left li{
	height: 42px;
	color: black;
	line-height: 42px;
	cursor: pointer;
	font-size: 13px;
	padding: 0px 20px 0px 30px;
}
.content1-left i{
	float: right;
}

.cate-item:hover{
	background: #ff6700;
}
.cate-item.active{
	background: #ff6700;
}
.cate-box{
	position: relative;
	height: 100%;
}
.cate-content{
	position: absolute;
	top: 0;
	left: 411px;
	width: 990px;
	height: 72%;
	background: #fff;
	z-index: 99999;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	padding: 10px;
	overflow: hidden;
	box-sizing: border-box;
	display: none;
	border-top: 1px solid gray;
}
.cate-content li{
	float: left;
	width: 220px;
	height: 70px;
}
.cate-content li img{
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.cate-content li span{
	font-size: 12px;
	color: black;
}
.cate-content li a{
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 80px;
	line-height: 80px;
}
.cate-content li span:hover{
	color: #ff6700;
}



.bigphone img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.bigphone .b1{
	width: 50px;
	height: 75px;
	line-height: 75px;
	position: absolute;
	top: 290px;
	left: 188px;
}
.bigphone .b1 i{
	font-size: 40px;
	color: gray;
	cursor: pointer;
}
.bigphone .b2{
	width: 50px;
	height: 75px;
	position: absolute;
	line-height: 75px;
	top: 290px;
	right: 188px;
}
.bigphone .b2 i{
	font-size: 40px;
	color: gray;
	cursor: pointer;
}
.bigphone .b1:hover{
	background: gray;
}
.bigphone .b2:hover{
	background: gray;
}
.bigphone .b3:hover{
	background: gray;
}
.bigphone .b4:hover{
	background: gray;
}
.bigphone div:hover  .i1{
	color: white;
}
.bigphone div:hover  .i2{
	color: white;
}
.bigphone .b3{
	width: 10px;
	height: 10px;
	background: gray;
	border: 2px solid #534f4e;
	border-radius: 20px;
	position: absolute;
	bottom: 20px;
	left: 775px;
	cursor: pointer;
}
.bigphone .b4{
	width: 10px;
	height: 10px;
	border: 2px solid #534f4e;
	border-radius: 20px;
	position: absolute;
	bottom: 20px;
	right: 775px;
	cursor: pointer;
}
.bigphone .box{
	width: 234px;
	background: white;
	border: 1px solid #ff6700;
	position: absolute;
	top: 0px;
	left: 179px;
	padding: 20px 0px;
	box-sizing: border-box;
	display: none;
}
.bigphone .box a{
	color: black;
}
.bigphone .box li{
	height: 42px;
	line-height: 42px;
	font-size: 13px;
	padding: 0px 20px 0px 30px;
	cursor: pointer;
}
.bigphone .box li i{
	float: right;
	color: gray;
}
.bigphone .box li:hover{
	background: #ff6700;
}
.bigphone .b5{
	width: 1583px;
	height: 200px;
	background: white;
	border-top: 1px solid gray;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.bigphone .b5 div{
	width: 1224px;
	height: 100%;
	margin:auto;

}
.bigphone .b5 li{
	width: 204px;
	height:200px;
	float: left;
	text-align: center;
	position: relative;
}
.bigphone .b5 li .s1{
	width: 55px;
	height: 20px;
	border: 1px solid #ff6700;
	border-top: none;
	margin-bottom: 10px;
}
.bigphone .b5 li .s1 span{
	font-size: 13px;
	color: #ff6700;
}
.bigphone .b5 li .s2{
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
}
.bigphone .b5 li img{
	width: 100%;
	height: 110%;
}
.bigphone .b5 li .v1{
	font-size: 15px;
	color: black;
	cursor: pointer;
}
.bigphone .b5 li .v2{
	font-size: 8px;
	color: #ff6700;
}
.bigphone .b5 .left-line:after{
	display: block;
	content: "";
	width: 1px;
	height: 100px;
	background: gray;
	position: absolute;
	top: 40px;
	left: 0px;
}




.phone{
	width: 1226px;
	height: 3970px;
	margin: 0 auto;
}
.phone h2{
	font-size: 25px;
	margin: 12px 0px 12px 0px;
}
.phone .box{
	width: 1226px;
	height: 400px;
	transition:box-shadow 0.2s;
	transition: 0.3s;
}
.phone .box:hover{
	box-shadow:3px 3px 3px #D0CBCB;
	transform: translateY(-8px);
}
.phone .box .box1-left{
	width: 854px;
	height: 400px;
	background: blue;
	float: left;
}
.phone .box .box1-left img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.phone .box .box1-right{
	width: 372px;
	height: 400px;
	float: right;
}
.phone .box .box1-right span{
	display: block;
}
.phone .box .box1-right .s1{
	font-size: 30px;
	color: #646476;
	padding-top: 95px;
	padding-left: 60px;
	cursor: pointer;
}
.phone .box .box1-right .s2{
	font-size: 15px;
	padding-left: 60px;
	color: #a6a6a6;
}
.phone .box .box1-right .s3{
	font-size: 30px;
	color: #ff7824;
	padding-top: 50px;
	padding-left: 60px;
}
.phone .box .box1-right .s4{
	font-size: 15px;
	color: #ff7824;
	position: relative;
	top: -25px;
	left: 130px;
}
.phone .box .box1-right .s5{
	font-size: 15px;
	color: #c0bab5;
	padding-top: 20px;
	padding-left: 60px;
	cursor: pointer;
}
.phone ul li{
	width: 600px;
	height: 470px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
.phone ul li div{
	transition:box-shadow 0.2s;
	transition: 0.3s;
}
.phone ul li div:hover{
	box-shadow:3px 3px 3px #D0CBCB;
	transform: translateY(-10px);
}

.phone ul li div{
	width: 600px;
	height: 355px;
}
.phone ul li div img{
	width: 100%;
	height: 355px;
	cursor: pointer;
}
.phone ul li div .s1{
	font-size: 25px;
	color: #515151;
	cursor: pointer;
	position: relative;
	top: 10px;
	left: 55px;
}
.phone ul li div .s2{
	font-size: 10px;
	color: #93989c;
	position: relative;
	left: 55px;
}
.phone ul li div .s3{
	font-size: 30px;
	color: #ff6700;
	position: relative;
	left: 200px;
}
.phone ul li div .s4{
	font-size: 10px;
	color: #ff6700;
	position: relative;
	left: 200px;
}
.phone ul li div .s5{
	font-size: 10px;
	color: #93989c;
	position: relative;
	left: 200px;
	text-decoration: line-through;
}
.phone ul li:nth-child(5) .span1{
	font-size: 25px;
	position: relative;
	top: 105px;
}
.phone ul li:nth-child(7){
	margin-top: 60px;
}
.phone ul li:nth-child(8){
	margin-top: 60px;
}
.phone ul li:nth-child(11) .span1{
	font-size: 25px;
	position: relative;
	top: 105px;
}
.phone ul li:nth-child(13){
	margin-top: 60px;
}
.phone ul li:nth-child(14){
	margin-top: 60px;
}


.foot{
	width: 1226px;
	height: 423px;
	margin: 0 auto;
}
.foot-head{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid gray;
}
.foot-head ul li{
	width: 245px;
	height: 80px;
	float: right;
	padding: 30px;
	box-sizing: border-box;
}
.foot-head ul li i{
	font-size: 25px;
	color: gray;
}
.foot-head ul li a{
	text-decoration: none;
	color: gray;
}
.foot-head ul li:hover a{
	color: #ff6700;
}
.foot-head ul li:hover i{
	color: #ff6700;
}
.foot-center{
	width: 1226px;
	height: 197px;
}
.foot-content-left{
	width: 972px;
	height: 196px;
	float: left;
}
.foot-content-left ul {
	margin-top: 50px;
}
.foot-content-left ul li{
	width: 162px;
	height: 196px;
	float: right;
}
.foot-content-left ul li dl{
	padding-top: 40px
	margin-left:2px;
	padding-left: 20px;
}
.foot-content-left ul li dl dt{
	margin-bottom: 30px;
	color: black;
}	
.foot-content-left ul li dl dd{
	font-size: 10px;
	margin-top: 10px;
	color: gray;
	cursor: pointer;
}
.foot-content-left ul li dl dd:hover{
	color: #ff6700;
}
.foot-content-left ul li dl a{
	text-decoration: none;
}
.foot-content-right{
	width: 252px;
	height: 196px;
	float: right;
	padding-top: 50px;
	text-align: center;
	box-sizing: border-box;
}
.foot-content-right .s1{
	font-size: 20px;
	color: #ff6700;
}
.foot-content-right .s2{
	font-size: 10px;
	color: gray;
}
.foot-content-right .s3{
	font-size: 10px;
	color: gray;
}
.foot-content-right div{
	width: 120px;
	height: 30px;
	border: 1px solid #ff6700;
	margin: 20px auto;
	font-size: 13px;
	padding-top: 6px;
	box-sizing: border-box;
	color: #ff6700;
	cursor: pointer;
}
.foot-content-right div i{
	font-size: 13px;
	color: #ff6700;
	cursor: pointer;
}
.foot-content-right div:hover{
	background: #ff6700;
	color: white;
}
.foot-content-right div:hover i{
	color: white;
}
.foot-foot{
	width: 1266px;
	height:85px;
	margin-top: 30px;
}
.foot-foot-left{
	width: 810px;
	height: 85px;
	float: left;
}
.foot-foot-left div{
	width: 95px;
	height: 80px;
	background: red;
	float: left;
}
.foot-foot-left img{
	width:100%;
	height: 100%;
	float: left;
}
.foot-foot-left .u1{
	font-size: 10px;
	float: left;
	color: #a3a9af;
}
.foot-foot-left .u1 li{
	float: right;
	cursor: pointer;
	margin-right: 2px;
	margin-bottom: 2px;
}
.foot-foot-left .u2{
	font-size: 10px;
	float: left;
	color: #c6c3c1;
}
.foot-foot-left .u2 li{
	float: right;
	margin-left: 2px;
	cursor: pointer;
	margin-bottom: 2px;
}
.foot-foot-left .u3{
	font-size: 10px;
	float: left;
	color: #c6c3c1;
}
.foot-foot-left .u3 li{
	float: right;
	margin-left: 2px;
	cursor: pointer;
	margin-bottom: 2px;
}
.foot-foot-left span{
	font-size: 10px;
	color: #c6c3c1;
	float: left;
}
.foot-foot-left li:hover{
	color: #ff6700;
}
.foot-foot-right{
	width: 442px;
	height: 85px;
	float: right;
}
.foot-foot-right ul li{
	width: 82px;
	height: 28px;
	float: right;
	margin-right: 6px;
}
.foot-foot-right ul li img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}



.over{
	width: 100%;
	height: 30px;
	text-align: center;
}
.over span{
	color:#bababa;
}