/*
* @Author: TomChen
* @Date:   2018-11-15 20:47:21
* @Last Modified by:   TomChen
* @Last Modified time: 2018-11-15 20:47:50
*/
*{
	margin: 0px;
	padding: 0px;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
	height: 0px;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
.container{
	margin-left: auto;
	margin-right: auto;
}
.head1{
	width: 1266px;
	height: 40px;
	background: #323232;
	margin: 0 auto;
}
.head1-left{
	width: 580px;
	height: 40px;
	float: left;
	position: relative;
	left: 70px;
}
.head1-left>a{
	text-decoration: none;
	font-size: 12px;
	line-height: 40px;
	color: #b0b1b0;
}
.head1-left>span{
	font-size: 12px;
	color: #b0b1b0;
	margin-left: 8px;
}
.head1-right{
	width: 275px;
	height: 40px;
	float: right;
	position: relative;
	right:70px;
}
.head1-right>a{
	font-size: 12px;
	color: #b0b1b0;
	text-decoration: none;
	line-height: 40px;
}
.head1-right>span{
	font-size: 12px;
	color: #b0b1b0;
	margin-left: 8px;
}
.head1-right-box{
	width: 121px;
	height: 40px;
	background: #424242;
	position: relative;
	float: right;
}
.head1-right-box a{
	display: inline-block;
	width: 100%;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
}
.head1-right-box i{
	color: #8f8f8f;
}
.icont-cart{
	font-size: 20px;
	vertical-align: -2px;
}
.head1-right-box span{
	color: #8f8f8f;
}
.head1-right-box:hover{
	background: white;
	color: red;
}
.head1-right-box span:hover{
	color: red;
}
.head1-left a:hover{
	color: white;
}
.head1-right a:hover{
	color: white;
}
.head1-right-box a{
	color: white;
}
.head2{
	width: 1266px;
	height: 50px;
	margin: 0 auto;
	position: relative;
	top: 25px;
}
.head2-left-box{
	width: 50px;
	height: 50px;
	margin-left: 70px;
	background:#ff6700;
	font-size: 20px;
	position: relative;
	left: -70px;
}
.head2-left-box img{
	position: relative;
	top: 0px;
	left: 3px;
	z-index: 999;
}
.head2-center{
	width: 696px;
	height: 50px;
	position: relative;
	left: 198px;
	top: -50px;
	right: 91px;
}
.head2-center a{
	text-decoration: none;
	color: black;
	font-size: 12px;
	margin-left: 21px;
	line-height: 50px;
}
.head2-center a:hover{
	color: red;
}
.head2-right{
	width: 296px;
	height: 44px;
	float: right;
	position: relative;
	right: -3px;
	top: -100px;
}
.sousuo1 input{
	width: 238px;
	height: 42px;
	border: 1px solid #e0e0e0;
	padding-left: 10px;
}
.sousuo1 span{
	position: absolute;
	float: left;
	font-size: 10px;
	color: #616161
}
.span1{
	position: relative;
	top: 14px;
	right: 130px;
	background:#eeeeee;
}
.span2{
	position: relative;
	top: 14px;
	right: 58px;
	background:#eeeeee;
}
.sousuo2{
	width: 42px;
	height: 42px;
	border: 1px solid #e0e0e0;
	float: right;
	position: relative;
	right: 3px;
	top: -44px;
}
.sousuo2 i{
	font-size: 28px;
	color: #616161;
	line-height: 42px;
	position: relative;
	left: 5px;
}
.sousuo2 a{
	text-decoration: none;
}


.head2-right-bottom{
	width: 291px;
	height: 400px;
	float: right;
	position: relative;
	top: -57px;
	right:-223px;
	border:1px solid #ff6700;
	border-top: none;
	opacity: 0;
}
.head2-right-bottom a{
	text-decoration: none;
}
.head2-right-bottom .keyword{
	color: black;
	padding-left: 10px;
}
.head2-right-bottom .bigsou{
	list-style: none;
	height: 40px;
	line-height: 40px;
}
.head2-right-bottom .num1{
	color: #b0b1b0;
	padding-left: 140px;
}
.head2-right-bottom .num2{
	color: #b0b1b0;
	padding-left: 106px;
}
.head2-right-bottom .num3{
	color: #b0b1b0;
	padding-left: 97px;
}
.head2-right-bottom .num4{
	color: #b0b1b0;
	padding-left: 114px;
}
.head2-right-bottom .num5{
	color: #b0b1b0;
	padding-left: 140px;
}
.head2-right-bottom .num6{
	color: #b0b1b0;
	padding-left: 110px;
}
.head2-right-bottom .num7{
	color: #b0b1b0;
	padding-left: 112px;
}
.head2-right-bottom .num8{
	color: #b0b1b0;
	padding-left: 120px;
}
.head2-right-bottom .num9{
	color: #b0b1b0;
	padding-left: 114px;
}
.head2-right-bottom .num10{
	color: #b0b1b0;
	padding-left: 145px;
}
.sousuo1>input:checked ~ .head2-right-bottom{
	opacity: 1px;
}


.content1{
	width: 1266px;
	height: 460px;
	margin: 0 auto;
	position: relative;
	top: 30px;
	background-image: url(C:/Users/liyuphp/xiaomi/新建文件夹/04-project/mi/images/xmad_15421940322083_jTrLz.jpg);
	background-size: 100% 100%;
	box-sizing: border-box;
}

.content1 .content-left{
	width: 234px;
	height: 460px;
	background: #64615b;
	/*box-sizing: border-box;*/
}
.content-left li{
	width: 200px;
	height: 30px;
	color: white;
	line-height: 30px;
	padding-left: 30px;
	margin-top: 16px;
	cursor: pointer;}
.content-left li:hover{
	background: red;
}
.content-left i{
	float: right;
}
.content1 .content-right{
	width: 1032px;
	height: 460px;
	float: right;
	position: relative;
	top: -460px;
}
.content1 .content-right .bottom-left{
	z-index: 999;
	width: 40px;
	height: 70px;
	position: relative;
	top: 195px;
}
.content1 .content-right .bottom-left i{
	font-size: 30px;
	position: relative;
	right: -8px;
}
.content1 .content-right .bottom-right{
	z-index: 999;
	width: 40px;
	height: 70px;
	position: relative;
	top: 130px;
	right: -992px;
}
.content1 .content-right .bottom-right i{
	font-size: 30px;
}
.content-right a{
	text-decoration: none;
	color: #d5d4d1;
}




.content2{
	width: 1268px;
	height: 170px;
	margin: 80px auto;
}
.content2-left1{
	width: 234px;
	height: 170px;
	background: black;
	float: left;
}
.content2-left2{
	width: 316px;
	height: 170px;
	background:yellow;
	float: right;
	position: relative;
	top: -380px;
}
.content2-right1{
	width: 316px;
	height: 170px;
	background:blue;
	float: right;
	position: relative;
	top: -380px;
	right: 29px;
}
.content2-right2{
	width: 316px;
	height: 170px;
	background:green;
	float: right;
	position: relative;
	top: -380px;
	right: 59px;
}
.content2-right2 img{
	width: 100%;
	height: 100%;
}
.content2-right1 img{
	width: 100%;
	height: 100%;
}
.content2-left2 img{
	width: 100%;
	height: 100%;
}